<h1>Mechanic: <%= @mechanic.mechanic_name %></h1>
<h2>Years of Experience: <%= @mechanic.experience %></h2>
<h3>Current rides they're working on:</h3>
<% @mechanic.rides.each do |ride| %>
  <p><%= ride.ride_name %></p>
<% end %>
<br>
<h3>Add a ride to workload:</h3>
<%= form_tag "/mechanics/#{@mechanic.id}", method: :post do %>
  <%= label_tag :search, "Ride ID:" %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag "Search" %>
<% end %>
